<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51485/MathOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathOperations"
                contract="ServiceReference1.IMathOperations" name="BasicHttpBinding_IMathOperations" />
        </client>
    </system.serviceModel>
</configuration>
