<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBooksOperations" />
        <binding name="BasicHttpBinding_IBooksOperations1" />
        <binding name="BasicHttpBinding_IBooksOperations2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51595/BooksOperations.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooksOperations"
        contract="ServiceReference1.IBooksOperations" name="BasicHttpBinding_IBooksOperations" />
      <endpoint address="http://localhost:51595/BooksOperations.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooksOperations1"
        contract="ServiceReference1.IBooksOperations" name="BasicHttpBinding_IBooksOperations1" />
      <endpoint address="http://localhost:51595/BooksOperations.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooksOperations2"
        contract="ServiceReference2.IBooksOperations" name="BasicHttpBinding_IBooksOperations2" />
    </client>
  </system.serviceModel>
</configuration>