<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMathOperations" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51485/MathOperations.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMathOperations"
                contract="ServiceReference1.IMathOperations" name="BasicHttpBinding_IMathOperations" />
        </client>
    </system.serviceModel>
</configuration>
